
.choice-box .context-menu { -fx-background-color: white; }
.choice-box .menu-item:focused { -fx-background-color:  #0bb96f; }
.choice-box .menu-item > .label { -fx-text-fill: black; }
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
.choice-box {
  -fx-background-color: white;
  -fx-mark-color: #041527;
  -fx-background-insets: 0, 0, 0;
  -fx-text-fill: white;
}
.choice-box: focused {
  -fx-background-color: white;
  -fx-mark-color: #041527;
  -fx-background-insets: 0, 0, 0;
  -fx-text-fill: white;
}
.choice-box: hover {
  -fx-background-color: white;
  -fx-mark-color: #041527;
  -fx-background-insets: 0, 0, 0;
  -fx-text-fill: white;
}
.choice-box > .label { -fx-text-fill: black; }
